:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--primary-color);
  background-color: #242424;

  --primary-color: rgba(255, 255, 255, 0.87);
  --heading-weight: 200;
  --text-weight: 150;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}