.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex: 1;
    font-weight: var(--heading-weight);
    width: 100%;
    padding-left: 2rem;
}

.stories-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    padding-left: 20%;
}

.stories-container-title {
    font-weight: var(--heading-weight);
    opacity: 0;
}

.stories-body-container {
    opacity: 0;
}

.stories-footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: end;
    padding-bottom: .25rem;
}

.about-container {
    width: 60%;
    padding-left: 20%;
}

.about-text {
    font-weight: var(--text-weight);
    font-size: .9rem;
    opacity: 0;
}

.stories-footer-link {
    font-weight: var(--text-weight);
    font-size: small;
}
.stories-footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}