.story-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.story-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-size: .83rem;
    font-weight: var(--text-weight);
    width: 95%;
}

.story-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: transform 0.2s;
    width: 10px;
}

.story-button:active {
    transform: scale(0.9);
}

.story-play-button:hover {
    color: white;
    cursor: pointer;
}
